<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Reporte de Prestamo Desembolso</title>
    <style>
        .report-box {
            max-width: 1000px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 18px;
            line-height: 36px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .logo {
            width: 150px;
            height: auto;
            margin: 20px 20px 20px 450px;
        }

        .generation {
            padding-top: 20px;
            padding-left: 20px;
            margin-left: 20px;
            text-align: right;
            font-size: 12px;
        }

    </style>
</head>
<body>
<div class="report-box">
    <h1>INTERCRÉDITO DE COLOMBIA</h1>
    <h2 th:text="'NIT ' + ${clientNit}"></h2>
    <h3 th:text="${title}"></h3>

    <p>Cliente: <span th:text="${clientFullName}"></span></p>
    <p>Numero de Identificación: <span th:text="${clientId}"></span></p>
    <p>Fecha de Financiación: <span th:text="${financingDate}"></span></p>
    <p>Monto financiado: <span th:text="${financedAmount}"></span></p>
    <p>Tasa pactada: <span th:text="${interestRate}"></span></p>
    <p>Sistema de Liquidación: <span th:text="${settlementSystem}"></span></p>
    <p>Periodicidad: <span th:text="${frequency}"></span></p>


    <div style="font-family: Arial, sans-serif; width: 100%; margin: 0 auto;">
        <table style="width: 100%; border-collapse: collapse; font-size: 12px;">
            <thead>
            <tr>
                <th colspan="2" style="border-bottom: 2px solid #000; text-align: left; padding: 8px;">Monto y saldo del Crédito</th>
                <th style="border-bottom: 2px solid #000; text-align: left; padding: 8px;">Costo total del Crédito</th>
                <th colspan="7" style="border-bottom: 2px solid #000; text-align: left; padding: 8px;">Totales de cuotas</th>
            </tr>
            <tr>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Fecha</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Saldo del Crédito</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Principal vencido</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Interés</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Seguro Voluntario/Asistencia</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Seguro Obligatorio</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Aval</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Honorarios</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Penalizaciones</th>
                <th style="border-bottom: 1px solid #000; text-align: left; padding: 8px;">Pendiente</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="installment, iterStat : ${installments}"
                th:class="${iterStat.index % 2 == 0} ? 'even' : 'odd'">
                <td style="padding: 8px;" th:text="${installment.fecha}"></td>
                <td style="padding: 8px;" th:text="${#numbers.formatDecimal(installment.saldoCredito, 1, 'COMMA', 2, 'POINT')}"></td>
                <td style="padding: 8px;" th:text="${#numbers.formatDecimal(installment.principalVencido, 1, 'COMMA', 2, 'POINT')}"></td>
                <td style="padding: 8px;" th:text="${#numbers.formatDecimal(installment.interes, 1, 'COMMA', 2, 'POINT')}"></td>
                <td style="padding: 8px;" th:text="${installment.seguroVoluntario}"></td>
                <td style="padding: 8px;" th:text="${installment.seguroObligatorio}"></td>
                <td style="padding: 8px;" th:text="${installment.aval}"></td>
                <td style="padding: 8px;" th:text="${installment.honorarios}"></td>
                <td style="padding: 8px;" th:text="${installment.penalizaciones}"></td>
                <td style="padding: 8px;" th:text="${#numbers.formatDecimal(installment.pendiente, 1, 'COMMA', 2, 'POINT')}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="1" style="padding: 8px; text-align: left;"><strong>Total</strong></td>
                <td style="padding: 8px;" th:text="${#numbers.formatDecimal(total.saldoCredito, 1, 'COMMA', 2, 'POINT')}"></td>
                <td style="padding: 8px;" th:text="${#numbers.formatDecimal(total.principalVencido, 1, 'COMMA', 2, 'POINT')}"></td>
                <td style="padding: 8px;" th:text="${#numbers.formatDecimal(total.interes, 1, 'COMMA', 2, 'POINT')}"></td>
                <td colspan="6" style="padding: 8px;" th:text="${#numbers.formatDecimal(total.pendiente, 1, 'COMMA', 2, 'POINT')}"></td>
            </tr>
            </tfoot>
        </table>
    </div>

</body>
</html>
